/* #region common */
:root {
    --bs-light: rgb(229, 229, 229);
    --bs-lighter: rgb(248, 249, 250);
    --bs-primary-darker: rgb(5, 30, 52);
    --bs-primary-dark: rgb(22, 91, 186);
    --bs-primary: rgb(27, 114, 232);
}

header {
    height: 70px;
    /* background-color: var(--bs-lighter); */
}

main {
    height: calc(100vh - 70px);
}

aside {
    position: sticky;
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--bs-primary-darker);
}
/* #endregion common */





/* #region main */
.main_container {
    width: 100%;
    overflow-y: auto;
}

#banner {
    background-color: var(--bs-primary);
}

#banner span.badge {
    background-color: var(--bs-primary-dark);
}
/* #endregion main */




/* #region debug */



/* #endregion debug */


